raw_data/
data/
.env

# MAcOS system files
.DS_Store

# Python cache files
__pycache__/
/ml_logic/__pycache__/
/utilities/__pycache__/
*.egg-info/
*.egg
*.eggs/

# Jupyter notebooks
notebooks/eda_modelling_structure.ipynb
